p {
  color: #D62839;
}

h1 {
  color: #BA324F;
}

h3 {
  color: #694463;
}

a {
  color: #175676;
}

li {
  color: #4BA3C3;
}

img {
  width: 300px;
  height: 200px;
}

body
{
background-color: #FEC0CE;
}