html {
	margin: 10px;
  width: 100vw;
  height: 100vh;
	}

  img {
      text-align: center;
      width: 32%;
      height: 32%;
    }

body {
	font: 120% Times New Roman, serif;
	line-height: 1.8;
	color: #4795CD;
  background-color: #1B191E;
	padding: 10px;
	}

.titl {
  text-align: center;
}

h1{
text-align: center;
}

h2 {
text-align: center;
color: #79865B;
}

p {
  margin-top: 0;
	text-align: justify;
	}

nav {
  border-bottom: 1px solid black;
}

a {
  color: #646F4B;
}

.box
{ border-radius: 7px;
 background-color: #141316 ;
 border:1px solid #646F4B;
 width: 75vw;
 height: auto;
 margin-top: 10px;
 margin-left: 10px;
padding: 10px;
}

nav {
   height: 100%;
   width: 180px;
   position: fixed;
   top: 0;
   left: 0;
   background-color: #111;
   padding-top: 20px;
   margin-left: 0px;
 }

nav a, nav li {
   text-decoration: none;
   font-size: 25px;
   color: #79865B;
    list-style-type: none;
 }

.hi{
  border-radius: 7px;
 background-color: #fff8e7;
 padding: 6px 8px 6px 12px;
}

 nav a:hover {
   color: #fff8e7;
 }

 .main {
   margin-left: 180px;
 }

.cover{
	text-align: center;
}

.spotify {
	width: 10%;
	height: 10%;
	margin-top: 20px;
	margin-left: 20px;
}

.tracks a {
	color: #4795CD;
	text-decoration: none;
}

.tracks a:hover {
	color: #fff8e7;
}

#h{
	color: #84445b;
}

#s{
	color: #fbf4e5;
}

#am{
	color: #fefefe;
}

.it{
	font-style: italic;
}

.lyric {
color:	#CFE3F2;
}

.stanza{
	text-indent: 50px;
	color:	#CFE3F2;
}

.fav a {
	color: #6897B6;
	text-decoration: none;
}

.fav a:hover {
	color: #026EB6;
}
