html {
	margin: 10px;
	padding: 0;
  width: 100vw;
  height: 100vh;
	}
  img {
      text-align: center;
      width: 33%;
      height: 33%;
    }
body {
	font: 120% georgia, sans-serif;
	line-height: 1.8;
	color: #4795CD;
  background-color: #1B191E;
	margin: 1;
	}
.titl {
  font: 250% Impact, fantasy;
  text-align: center;
}
h1{
text-align: center;
}
h2 {
text-align: center;
color: #79865B;
}
p {
  margin-top: 0;
	text-align: justify;
	}

nav {
  border-bottom: 1px solid black;
}

a {
  color: #646F4B;
}

.crumbs ol {
  list-style-type: none;
  padding-left: 0;
  color: #646F4B;
}

.crumb {
  display: inline-block;
}

.box
{  border-radius: 7px;
 background-color: #141316 ;
 border:1px solid #646F4B;
 width: 90vw;
 height: auto;
  margin-top: 10px;
 margin-left: 10px;}

 .boxy
 {
   padding: 10px;
 }
