html {
	margin: 10px;
	padding: 0;
  width: 100vw;
  height: 100vh;
	}
  img {
      text-align: center;
      width: 33%;
      height: 33%;
    }
body {
	font: 120% georgia, sans-serif;
	line-height: 1.8;
	color: #4795CD;
  background-color: #1B191E;
	margin: 1;
	}
.titl {
  font: 250% Impact, fantasy;
  text-align: center;
}
h1{
text-align: center;
}
h2 {
text-align: center;
color: #79865B;
}
p {
  margin-top: 0;
	text-align: justify;
	}

nav {
  border-bottom: 1px solid black;
}

a {
  color: #646F4B;
}

.box
{  border-radius: 7px;
 background-color: #141316 ;
 border:1px solid #646F4B;
 width: 75vw;
 height: auto;
 margin-top: 10px;
 margin-left: 10px;
padding: 10px;}

nav {

   height: 100%;
   width: 180px;
   position: fixed;
   top: 0;
   left: 0;
   background-color: #111;
   padding-top: 20px;
   margin-left: 0px;
 }

nav a, nav li {
   text-decoration: none;
   font-size: 25px;
   color: #818181;
    list-style-type: none;

 }
.hi{
  border-radius: 7px;
 background-color: #f1f1f1;
 padding: 6px 8px 6px 12px;

}

 nav a:hover {
   color: #f1f1f1;
 }

 .main {
   margin-left: 180px;

   padding: 0px 10px;
 }
